<div class="modal-dialog dialog-login">
    <div class="modal-content">
        <div class="modal-body">
            <div class="container intro">
                <div class="row">
                    <div class="col-md-3">
                        <img src="static/images/icons/128.png" style="width: 100%"/>
                    </div>
                    <div class="col-md-9">
                        <h2>Login to your account</h2>
                    </div>
                </div>
            </div>
            <form role="form">
                <div class="form-group">
                    <input type="text" class="form-control login-username" placeholder="Email or Username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control login-password" placeholder="Password">
                </div>
                <div class="form-group">
                    <p class="help-block">If you don't have an account, <a href="https://www.gitbook.io/join" target="_blank">sign up</a>. Forgot your password? <a href="https://www.gitbook.io/settings/password/reset" target="_blank">Reset it</a> with your email.</p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default action-close">Cancel</button>
            <button class="btn btn-default action-confirm">Login</button>
        </div>
    </div>
</div>