<div class="inner">
    <div class="toolbar">
        <div class="btn-toolbar" role="toolbar" style="margin: 0;">
            <% if (!autosave) { %>
            <div class="btn-group">
                <button type="button" class="btn btn-default action-save" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="fa fa-save"></i></button>
            </div>
            <% } %>
            <div class="btn-group">
                <button type="button" class="btn btn-default action-text-bold" data-toggle="tooltip" data-placement="bottom" title="Bold (<%= keyboardShortcut("ctrl-B") %>)"><i class="fa fa-bold"></i></button>
                <button type="button" class="btn btn-default action-text-italic" data-toggle="tooltip" data-placement="bottom" title="Italic (<%= keyboardShortcut("ctrl-I") %>)"><i class="fa fa-italic"></i></button>
                <button type="button" class="btn btn-default action-text-strikethrough" data-toggle="tooltip" data-placement="bottom" title="Strikethrough (<%= keyboardShortcut("Alt-Shift-5") %>)"><i class="fa fa-strikethrough"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default action-text-title-1" data-toggle="tooltip" data-placement="bottom" title="Heading 1 (<%= keyboardShortcut("ctrl-Alt-1") %>)">H1</button>
                <button type="button" class="btn btn-default action-text-title-2" data-toggle="tooltip" data-placement="bottom" title="Heading 2 (<%= keyboardShortcut("ctrl-Alt-2") %>)">H2</button>
                <button type="button" class="btn btn-default action-text-title-3" data-toggle="tooltip" data-placement="bottom" title="Heading 3 (<%= keyboardShortcut("ctrl-Alt-3") %>)">H3</button>
                <button type="button" class="btn btn-default action-text-title-4" data-toggle="tooltip" data-placement="bottom" title="Heading 4 (<%= keyboardShortcut("ctrl-Alt-4") %>)">H4</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default action-text-list-ul"  data-toggle="tooltip" data-placement="bottom" title="Numbered List (<%= keyboardShortcut("ctrl-Alt-7") %>)"><i class="fa fa-list-ul"></i></button>
                <button type="button" class="btn btn-default action-text-list-ol"  data-toggle="tooltip" data-placement="bottom" title="Bulleted List (<%= keyboardShortcut("ctrl-Alt-8") %>)"><i class="fa fa-list-ol"></i></button>
                <button type="button" class="btn btn-default action-text-table"  data-toggle="tooltip" data-placement="bottom" title="Insert Table"><i class="fa fa-table"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default action-text-link"  data-toggle="tooltip" data-placement="bottom" title="Insert Link (<%= keyboardShortcut("ctrl-K") %>)"><i class="fa fa-chain"></i></button>
                <button type="button" class="btn btn-default action-text-image"  data-toggle="tooltip" data-placement="bottom" title="Insert Picture"><i class="fa fa-picture-o"></i></button>
                <button type="button" class="btn btn-default action-text-code"  data-toggle="tooltip" data-placement="bottom" title="Code (<%= keyboardShortcut("ctrl-Alt-9") %>)"><i class="fa fa-code"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default action-glossary-edit"  data-toggle="tooltip" data-placement="bottom" title="Add Glossary Entry"><i class="fa fa-sort-alpha-asc"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default action-help"  data-toggle="tooltip" data-placement="bottom" title="Help about Markdown"><i class="fa fa-question-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="content"></div>
</div>