<div class="inner">
    <div class="toolbar">
        <div class="btn-toolbar" role="toolbar" style="margin: 0;">
            <div class="btn-group">
                <button class="btn btn-default disabled">PREVIEW</button>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-default toggle-autoscroll <% if (autoScroll) {%>btn-success<% } %>" data-toggle="tooltip" data-placement="bottom" title="Toggle Scroll Sync"><i class="fa fa-exchange"></i></button>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-default server-start" data-toggle="tooltip" data-placement="bottom" title="Start Preview Server"><i class="fa fa-bolt"></i></button>
                <button class="btn btn-default server-stop" style="display: none;" data-toggle="tooltip" data-placement="bottom" title="Stop Preview Server"><i class="fa fa-stop"></i></button>
            </div>
        </div>
    </div>
    <div class="content">
        <% _.each(sections, function(section) { %>
            <% if (section.type == "normal") { %>
            <section id="<%- section.id %>"><%= sanitizeHtml(section.content) %></section>
            <% } else { %>
            <section id="<%- section.id %>" class="section-other"><%- section.type %></section>
            <% } %>
        <% }); %>
    </div>
</div>